<section class="container list">
  <h1 class="home-title">
    {{- if eq .Kind "taxonomy" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
    {{- end -}}

    Recent blog posts
  </h1>
  <ul>
    {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
    {{ range $paginator.Pages }}
    <li>
      <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <a class="title" href="{{ .Params.ExternalLink | default .URL }}">{{ .Title }}<span class="author"> by {{ .Page.Params.Author }}</span></a>

    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
